doxygen
*.o
*.lo
*.la
*.pc
*.loT
*~
m4
\#*\#
.*.swp
*.pdf
*.html
*.xml
*.1
*.3
libmooshika-*.tar.gz
libmooshika.spec
cscope*
Makefile
Makefile.in
aclocal.m4
autom4te.cache/
config.guess
config.h
config.h.in
config.log
config.status
config.sub
configure
depcomp
install-sh
libtool
ltmain.sh
missing
.deps
.libs
stamp-h1
compile
