[project]
	description = RDMA abstraction layer
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Dominique Martinet (martinetd)
[access "refs/for/refs/*"]
	read = group user/Dominique Martinet (martinetd)
	push = group user/Dominique Martinet (martinetd)
	label-Code-Review = -2..+2 group user/Dominique Martinet (martinetd)
	label-Verified = -1..+1 group user/Dominique Martinet (martinetd)
	rebase = group user/Dominique Martinet (martinetd)
	removeReviewer = group user/Dominique Martinet (martinetd)
	submit = group user/Dominique Martinet (martinetd)
[access "refs/heads/*"]
	read = group user/Dominique Martinet (martinetd)
	create = group user/Dominique Martinet (martinetd)
	push = +force group user/Dominique Martinet (martinetd)
	pushMerge = group user/Dominique Martinet (martinetd)
[access "refs/tags/*"]
	push = +force group user/Dominique Martinet (martinetd)
	pushTag = group user/Dominique Martinet (martinetd)
	pushSignedTag = group user/Dominique Martinet (martinetd)
[receive]
	requireChangeId = true
[submit]
	action = cherry pick
